<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true">
    </compilation>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceBinding" transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceRestBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="SL_LoadRepxDemo.Web.MyReportService" behaviorConfiguration="ServiceBehavior">
        <endpoint binding="basicHttpBinding" bindingConfiguration="ServiceBinding" contract="DevExpress.XtraReports.Service.IReportService" />
        <endpoint binding="webHttpBinding" behaviorConfiguration="ServiceRestBehavior" address="rest" contract="DevExpress.Xpf.Printing.Service.IExportServiceRest" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <appSettings>
    <add key="reportsFolder" value="D:\projects\drafts\SL-LoadRepxDemo\SL-LoadRepxDemo.Web\Reports" />
  </appSettings>
</configuration>